.cont p, .cont h1, .cont h3{
  text-align: center;
}
.cont{
  width:50% !important;
}
ul{
  list-style: square;
  width:70%;
  position: relative;
  left:20%;
}
.list_cap{
  text-align:left !important;
  text-indent: 20%;
}
